<nav aria-label="User pagination">
  <ul class="pagination">
    <% if @pagination[:current_page] > 1 %>
      <li class="page-item">
        <%= link_to 'Previous', users_path(page: @pagination[:current_page] - 1), class: 'page-link' %>
      </li>
    <% else %>
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
    <% end %>

    <% 1.upto(@pagination[:total_pages]) do |page| %>
      <li class="page-item <%= 'active' if page == @pagination[:current_page] %>">
        <%= link_to page, users_path(page: page), class: 'page-link' %>
      </li>
    <% end %>

    <% if @pagination[:current_page] < @pagination[:total_pages] %>
      <li class="page-item">
        <%= link_to 'Next', users_path(page: @pagination[:current_page] + 1), class: 'page-link' %>
      </li>
    <% else %>
      <li class="page-item disabled">
        <span class="page-link">Next</span>
      </li>
    <% end %>
  </ul>
</nav>
